<%= render 'layouts/header' %>
<div class="jumbotron">
	<div class="container">
		<h1 align="center">User Details</h1>
 	</div>
 </div>

<div class="col-md-offset-1 col-md-10 stacks">
	<br />
	<br />
<%= form_for @user do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<table class="wikitable" width="100%">
  <tr>
    <th>ID</th>
	<th>User Name</th>
	<th>Email</th>
	<th>Authorize Token</th>
	<th>Poweruser</th>
	<th>Administrator</th>
  </tr>
  <tr>
  	<td align="center" width="10%">
  		<% if current_user.admin %>
			<%= @user.id %>
		<% else %><%= @user.id %>
		<% end %></td>
	<td align="center" >
  		<% if current_user.admin %>
			<%= f.text_field :user_name, :size=>"50px" %>
		<% else %><%= @user.user_name %>
		<% end %></td>
	<td align="center">
  		<% if current_user.admin %>
			<%= f.text_field :email, :size=>"50px" %>
		<% else %><%= @user.email %>
		<% end %></td>
	<td align="center" width="25%">
  		<% if current_user.admin %>
			<%= @user.auth_token %>
		<% else %>
		<% end %></td>
	<td align="center" width="10%">
  		<% if current_user.admin || current_user.poweruser %>
			<%= f.check_box :poweruser %>
		<% else %>XXXXXX
		<% end %></td>
	<td align="center" width="10%">
  		<% if current_user.admin %>
			<%= f.check_box :admin %>
		<% else %><% if @user.admin %>Yes<% else %>No<% end %>
		<% end %></td>
  </tr>
 </table>

 <br />
 <div class="stack col-md-12 l-adjust">
 	<div width="150px" align="center">
		<br>
  		<% if current_user.admin %>
			<%= f.submit %>
		<% else %>
		<% end %>
	</div>

  	</div>
<% end %>


</div>
 <div class="col-md-offset-1 stack col-md-10">
		<br>

  		<%= link_to 'Back', users_path %>
  	</div>

