<%= render 'layouts/header' %>
<div class='jumbotron'>
	<div class="container">
		<h1 align='center'>User Details</h1>
	</div>
</div>
<div class="col-md-10 col-md-offset-1" align="center">
		<br />
		<br />
		<table class="wikitable" width="90%">
		<tr>
			<th>ID</th>
			<th>User Name</th>
			<th>Email</th>
			<% if current_user.admin %><th>Authorize Token</th><% end %>
			<th>Poweruser</th>
			<% if current_user.admin || current_user.poweruser%><th>Administrator</th><% end %>
		</tr>
		<tr>

				<td align="center" width="20%">
				<% if current_user.admin || current_user.poweruser %>
					<%= @user.id %>
				<% else %>XXXXXX
				<% end %></td>
				<td align="center" width="20%">
				<% if current_user.admin || current_user.poweruser %>
					<%= @user.user_name %>
				<% else %>XXXXXX
				<% end %></td>
				<td align="center" width="20%">
				<% if current_user.admin || current_user.poweruser %>
					<%= @user.email %>
				<% else %>XXXXXX
				<% end %></td>
				<% if current_user.admin %>
				<td align="center" width="20%">
				<%= @user.auth_token %>
				</td>
				<% end %>
				<td align="center" width="10%">
				<% if current_user.admin || current_user.poweruser %>
					<% if @user.poweruser %>Yes
					<% else %>No
					<% end %>
				<% else %>
				<% end %></td>
				<% if current_user.admin || current_user.poweruser %>
				<td align="center" width="10%">
					<% if @user.admin %>Yes
					<% else %>No
					<% end %>
				<% else %>XXXXXX</td>
				<% end %>

		</tr>
		</table>
		<br>
		<br>
</div>
<br />
<br />

<div class="stacks col-md-offset-1 col-md-10">
	<div><%= link_to 'Back to Login Manager', users_path %></div>
</div>

