<%= render "layouts/header" %>
<div class="jumbotron">
			<div class="container">
				<div>
					<h1 align="center" >Material Inventory Search</h1>
				</div>
				<br>
				<br>
				<table align="center">
				<%= form_tag materials_path, :method => 'get' do %>
				<%= hidden_field_tag :direction, params[:direction] %>
				<%= hidden_field_tag :sort, params[:sort] %>		
					<tr>
						<td>
						    <%= text_field_tag :query, params[:query], :size=>"35" %>
						</td>
						<td>
    						<%= image_submit_tag("search_box_icon.png", class: 'searchbox')%> 
						</td>
					</tr>
					<% end %>
					</table>
	</div>
	
	<div class='container'><%= render 'layouts/alert_message' %>
	</div>
<% if current_user %>
</div>
	<div class="col-md-offset-1 col-md-10 frame returns">
	
		<% if current_user %>
			<%	if current_user.admin || current_user.poweruser %>
				<pass class="col-md-2"><%= link_to 'Add New Material', new_material_path %></pass>
			<% else %>
				<pass class="col-md-2"></pass>
			<% end %>
		<% else %>
			<pass class="col-md-2"></pass>
		<% end %>
		
		<pass class="col-md-8"><%= paginate @materials %></pass>
		
		<pass class="col-md-2"><%= link_to 'Clear Filters', '/' %></pass>
		
	</div>

 <div class="col-md-offset-1 col-md-10">
 	<table class="wikitable">
 			<tr>
 				<% if current_user.admin %><th><%= sortable "id" %></th><% end %>
 				<th><%= sortable "category" %></th>
 				<th><%= sortable "measurements", "Size" %></th>
 				<th><%= sortable "product" %></th>
 				<th><%= sortable "product_number", "P/N" %></th>
 				<th><%= sortable "product_description", "Description"  %></th>
 				<th><%= sortable "uom", "UOM" %></th>
 				<th><%= sortable "price" %></th>
 				<th><%= sortable "in_stock", "Stock" %></th>
 				<th><%= sortable "vendor" %></th>
 				<% if current_user.admin || current_user.poweruser %><th><%= sortable "total" %></th><% end %>
 				<th></th>
 				<% if current_user.admin || current_user.poweruser %><th></th><% end %>
 				<% if current_user.admin %><th></th><% end %>
 			</tr>
			<% @materials.each do |material| %>
			<tr>
				<% if current_user.admin %><td width="3%"><%= material.id %></td><% end %>
				<td width="6%"><%= material.category %></td>
				<td width="11%"><%= material.measurements %></td>
				<td width="23%"><%= material.product %></td>
				<td width="5%"><%= material.product_number %></td>
				<td width="31%"><%= material.product_description %></td>
				<td align="center" width="3%"><%= material.uom %></td>
				<td align="right" width="5%"><%= number_to_currency(material.price.to_f) %></td>
				<td align="center" width="5%"><%= material.in_stock.to_i %></td>
				<td align="center" width="15%"><%= material.vendor %></td>
				<% if current_user.admin || current_user.poweruser %><td align="right" width="4%"><%= number_to_currency(material.total.to_f) %></td><% end %>
				<td width="2%"><%= link_to 'Show', material_path(material) %></td>
				<% if current_user.admin || current_user.poweruser %><td><%= link_to 'Edit', edit_material_path(material) %></td><% end %>
				<% if current_user.admin %><td width="2%"><%= link_to 'Delete', material_path(material),
						method: :delete,
						data: { confirm: "Are you sure you want to destroy this data?" } %></td><% end %>
			</tr>
		  <% end %>
		</table>


	<!-- <%= render 'layouts/alert_message' %>> -->
</div>
		</br></br>

	<div class="col-md-offset-1 col-md-10 frame returns">
		<pass class="col-md-2"></pass>
		<pass class="col-md-8"><%= paginate @materials %></pass>
		<pass class="col-md-2"><%= link_to 'Clear Filters', '/' %></pass>
	</div>

		<% else %>
		</br>
		<p align="center">Welcome! Please <%= link_to 'Log in', login_path %></P></div>
<% end %>

