<%= render 'layouts/header' %>
<div class="jumbotron">
	<div class="container">
		<h1 align="center">Add New Materials</h1>
	</div>
</div>
<div class="col-md-offset-1 col-md-10 stacks">
	<br />
	<br />
<h1>Create new:</h1>
<%= render 'form' %>
</div>
<br>
<br>

<div class="col-md-offset-1 col-md-10 stacks">
	<br />
	<br />
	<%= render 'import' %></div>
<br>
<br>
<div class="col-md-offset-1 col-md-10 stacks">
<br />
<br />
<%= link_to 'Back to Search', '/' %>
</div>
<%= render 'footer'%>